.calendar-item {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  height: 100%;
}

.calendar-item-header {
  padding: 15px;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  font-weight: 600;
}

.calendar-item-body {
  padding: 20px;
}
